<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.administrator.projectsdemon">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 模糊定位权限：一般用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精确定位权限：一般用于gps定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--读取sd卡的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FoldingActivity" />
        <activity android:name=".ui.MovingBollActivity" />
        <activity android:name=".ui.MultiplePointTouchActivity" />
        <activity android:name=".ui.ClockActivity" />
        <activity android:name=".ui.WipeClothActivity" />
        <activity android:name=".ui.CircleImageActivity" />
        <activity android:name=".ui.RxJavaActivity" />
        <activity android:name=".ui.AutoScaleTextActivity" />
        <activity android:name=".ui.LocationActivity" />
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.VideoDealActivity"></activity>
    </application>

</manifest>